@import 'variable.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Light_Grayish_Blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 0.1;
    min-width: 17.5rem;
    max-width: 22rem;
    margin: 2.5rem 1.875rem;

}

.drawers{
    display: flex;
    border-top: var(--invisible_border);
    border-radius: 0.625rem 0.625rem 0rem 0rem;
    width: 100%;
}

main{
    padding: 2.125rem 1.875rem 1rem 2.125rem;
    background-color: #ffffff;
}

main h1{
  font-family: var(--manrope);  
  font-size: 1.125rem;
  color: var(--Very_Dark_Grayish_Blue);
  font-weight: 700;
}

main p{
    margin-block-start: 1rem;
    font-family: var(--manrope);
    font-size: var(--p_font_size);
    color: var(--Grayish_Blue);
    font-weight: 500;
}

footer{
    display: flex;
    flex-direction: row;
    padding: 0.875rem 1.875rem 0.875rem 1.875rem;
    justify-content: space-between;
    background-color: #ffffff;
    border: 0rem solid transparent;
    border-radius: 0rem 0rem 0.625rem 0.625rem;
    height: 4.25rem;
}

.avatar{
    display: flex;
    --js-toggle-desktop: 1;
}

footer .avatar_pic{
    border: var(--invisible_border);
    border-radius: 6.25rem;
    height: 2.5rem;
}

.avatar_detail{
    margin-left: 1rem;
}
.avatar_detail h2{
    font-family: var(--manrope);
    font-size: var(--p_font_size);
    color: var(--Very_Dark_Grayish_Blue);
    font-weight: 700;
}
.avatar_detail p{
    font-family: var(--manrope);
    font-size: var(--p_font_size);
    color: var(--Grayish_Blue);
    font-weight: 500;    
}
.share_div{
    position: relative;
}
.share_button{
    border: var(--invisible_border);
    padding: 0.25rem 0.35rem ;
    border-radius: 2.8125rem;
    background-color: var(--Light_Grayish_Blue);
    margin: 0.3125rem 0rem;
}
.share_button path{
    fill: var(--Grayish_Blue);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* Dynamic html from JS */
.inserted_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.p_inserted{
    display: flex;
    font-family: var(--manrope);
    font-size: 13px;
    color: var(--Grayish_Blue);
    font-weight: 500;
    letter-spacing: 0.3125rem;
    align-items: center;
}

.social_icons{
    display: flex;
    margin-left: 0.3725rem;
}

.icon-facebook,.icon-twitter, .icon-pinterest{
    width: 1.25rem;
    height: 1.25rem;
    margin: .5rem .5rem;
    align-items: center;
}


/*Desktop Screen media query */

@media (min-width: 1000px){

  .container{
    flex-direction: row;
    min-width: 40rem;
    max-width: 42.5rem;
    margin: auto;
    height: fit-content;
  } 

  .drawers{
    width: 16.25rem;
    height: 16.25rem;
    border-radius: 10px 0px 0px 10px;
  }

  .text_container{
    height: 16.25rem;
  }

  main{
    border-top: var(--invisible_border);
    padding: 2rem 1.875rem 1.05rem 1.875rem;
    border-radius:  0rem .625rem 0rem 0rem;
  }

  footer{
    border-radius:  0rem 0rem 0.625rem 0rem;

  }
  .inserted_div{
    background-color: var(--Very_Dark_Grayish_Blue);
    position: absolute;
    top: -4.375rem;
    left: -6.25rem;
    z-index: 1000;
    padding: .3125rem 1.25rem;
    border: var(--invisible_border);
    border-radius: 0.625rem;
    box-shadow: .125rem .125rem .3125rem rgb(130, 130, 130);

}  
   .inserted_div::after{
    content: "";
    position: absolute;
    top: 2.8125rem;
    left: 6.25rem;
    border-width: .625rem;
    border-style: solid;
    border-color: var(--Very_Dark_Grayish_Blue) transparent transparent transparent;
   }

}
