 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --Very_Dark_Grayish_Blue: hsl(217, 19%, 35%);
    --Desaturated_Dark_Blue: hsl(214, 17%, 51%);
    --Grayish_Blue: hsl(212, 23%, 69%);
    --Light_Grayish_Blue: hsl(210, 46%, 95%);
    --p_font_size: 13px;
    --manrope: 'Manrope', sans-serif;
    --invisible_border: 0px solid transparent;
}